/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    width: 300px;
    background-color: #a5cff9;
}

@media (min-width: 600px) {
    body {
        width: 600px;
    }
}

@media (min-width: 800px) {
    body {
        width: 800px;
    }
}

/* Set font sizes */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6,
p {
    font-size: 16px;
}
