.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination__item {
    margin: 0.5rem;
}

.pagination__item .button {
    width: 100%;
    margin: 1rem;
    background-color: var(--bs-blue);
}
